<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Layout de Sitio Web con CSS GRID</title>
		{% load static %}
        <link rel="stylesheet" href="{% static 'css/grid_02.css' %}">
        <link rel="stylesheet" href="{% static 'css/style2.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">

	</head>
	<body>
		<div class="contenedor">
			<header class="header">
				<h1>Hello {{request.session.first_name}}!</h1>
            	<p><a href="/logout" class='btn-out'>Logout</a> | <a href="/wish/new_wish" class='btn'>Make a wish!</a> | <a href="/wish/stats" class='btn'>View stats!</a> </p>
			</header>

			<main class="contenido">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				<div id='wish_table'>
					<table class="table">
						<thead>
							<h3>Your wishes</h3>
							<tr>
								<th>Item</th>
								<th>Date added</th>
								<th>Edit</th>
								<th>Delete Wish</th>
								<th >Grant Wish</th>
							</tr>
						</thead>
						<tbody>
							{% for wish in wishes %}
							<tr>
								<th >{{ wish.item }}</th>
								<td>{{ wish.created_at }}</td>
								<td><a href="/edit/{{wish.id}}">Edit</a></td>
								<td>
									<form action="/delete" method='POST'>
										{% csrf_token %}
										<input type="hidden" name='wish_id' value="{{ wish.id }}">
										<button class="btn" type="submit">Remove</button>
									</form>
								</td>
								<td>
									<form action="/grant" method='POST'>
										{% csrf_token %}
										<input type="hidden" name='user_id' value="{{ user.id}}">
										<input type="hidden" name='wish_item' value="{{ wish.item }}">
										<input type="hidden" name='wish_id' value="{{ wish.id }}">
										<input type="hidden" name='wish_created' value="{{ wish.created_at }}">
										<button class="btn" type="submit">Grant</button>
									</form>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div id='grant_table'>
					<table class="table">
						<thead>
							<h3>Granted wishes</h3>
							<tr>
								<th>Item</th>
								<th>Wisher</th>
								<th>Date added</th>
								<th>Date granted</th>
								<th>Likes</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for grant in granted_wishes %}
							<tr>
								<th>{{ grant.item }}</th>
								<td>{{ grant.user.first_name }}</td>
								<td>{{ grant.date_added }}</td>
								<td>{{ grant.granted_at }}</td>
								<td>{{ grant.likes.count }}</td>
								<td><form action="/like" method='POST'>
									{% csrf_token %}
									<input type="hidden" name='grant_id' value="{{ grant.id }}">
									<input type="hidden" name='user_id' value="{{ user.id }}">
									<button class="btn" type="submit">Like</button>
								</form></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</main>
			<footer class="footer">
				Coding Dojo - Latam
			</footer>
		</div>
	</body>
</html>
